@font-face {
  font-family: 'Work Sans';
  font-style: light;
  font-weight: 200;
  src: local('WorkSans-Light'), url('../fonts/work-sans/WorkSans-Light.woff') format('woff');
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: local('WorkSans-Regular'), url('../fonts/work-sans/WorkSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Work Sans';
  font-style: bold;
  font-weight: 700;
  src: local('WorkSans-Bold'), url('../fonts/work-sans/WorkSans-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Work Sans';
  font-style: bolder;
  font-weight: 800;
  src: local('WorkSans-ExtraBold'), url('../fonts/work-sans/WorkSans-ExtraBold.woff') format('woff');
}
