<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>

    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    
    <!--
    <property name="hibernate.connection.url">jdbc:mysql://127.10.142.2:3306/tucaomover</property>
    <property name="hibernate.connection.username">adminPFA3p5H</property>
    <property name="hibernate.connection.password">VDEiHTuhBKSd</property>
    -->


    <property name="hibernate.connection.url">jdbc:mysql://localhost/gossip?characterEncoding=UTF-8</property>
    <property name="hibernate.connection.username">root</property>

    <property name="show_sql">true</property>
    <property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>
    
    <mapping class="com.tucaomover.entities.User"/>
    <mapping class="com.tucaomover.entities.Gossip"/>
    <mapping class="com.tucaomover.entities.Comment"/>
  </session-factory>
</hibernate-configuration>
